main.obj
.vscode/
chapitomusic/additem.cpp
chapitomusic/additem.exe
chapitomusic/additem.obj
chapitomusic/removeitem.cpp
chapitomusic/temp.txt
shopego/.vscode/
shopego/Diego.png
shopego/Space Invaders.jpg
shopego/additem.cpp
shopego/additem.exe
shopego/additem.obj
shopego/firsttemp.txt
shopego/lasttemp.txt
shopego/removeitem.cpp
shopego/removeitem.exe
shopego/removeitem.obj
shopego/temp.txt
shopego/index.html
shopego/shopego.cpp
shopego/shopego.exe
shopego/shopego.obj
temp.txt
main.cpp
main.exe